* {
    margin: 0;
    padding: 0;
    color: white;
}

#full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 600px;
    justify-content: flex-start;
}

.header {
    background-color: #2ECC40;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #FFDC00;
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 {
    background-color: #F012BE;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    background-color: #0074D9;
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank {
    background-color: white;
    width: 250px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: #FF4136;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra {
    background-color: #01FF70;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #B10DC9;
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}   