* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #EF843A;
    height: 80px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 50fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

input {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    width: 120px;
}

#busca {
    padding-left: 15px;
    color: grey;
    border: none;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

video {
    max-height: 500px;
    grid-column-start: 2;
    grid-row-start: 2;
}

main>a {
    height: 310px;
    width: 310px;
    border: green solid 2px;
    margin: 25px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 -70px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main>p {
    margin: 20px 0 20px 45px;
    font-size: 20px;
    font-weight: bold;
}

a>p {
    padding-top: 265px;
    padding-left: 5px;
}

main>a:first-child {
    background-image: url(media/img1.jpg);
}

main>a:nth-child(2) {
    background-image: url(media/img2.jpg)
}

main>a:nth-child(3) {
    background-image: url(media/img3.jpg)
}

main>a:nth-child(4) {
    background-image: url(media/img4.jpg)
}

main>a:nth-child(5) {
    background-image: url(media/img5.jpg)
}

main>a:nth-child(6) {
    background-image: url(media/img6.jpg)
}

main>a:nth-child(7) {
    background-image: url(media/img7.jpg)
}

main>a:last-child {
    background-image: url(media/img8.jpg)
}

.mainVideo>p {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 15px 40px;
}

video {
    margin-left: 40px;
}

footer {
    background-color: #323B3E;
    height: 80px;
    width: 100vw;
    bottom: 0;
    position: fixed;
    color: white;
    font-size: 120%;
    display: inline-block;
}

h2 {
    padding-left: 30px;
    padding-top: 22px;
}