* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

#redbar {
    background-color: red;
    color: red;
    width: 1920px;
    height: 100px;
}

#d1 {
    background-color: blue;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d2 {
    background-color: yellow;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
    align-self: flex-start;
}

#d3 {
    background-color: green;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d4{
    background-color: blue;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d5 {
    background-color: yellow;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d6 {
    background-color: green;
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d7 {
    background-color: black;
    width: 915px;
    height: 950px;
    margin: 10px;
    color: white;
}

#d8 {
    background-color: black;
    width: 915px;
    height: 950px;
    margin: 10px;
    color: white;
}

#d9 {
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d10 {
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

#d11 {
    width: 600px;
    height: 280px;
    border: 0.5px solid black;
    margin: 10px;
}

@media screen and (min-width: 1100px) and (max-width: 1869px) {
    #d1, #d2, #d4, #d5, #d9, #d10 {
        width: 48vw;
    }
    #d7, #d8 {
        width: 48vw;
    }

    #d3, #d6, #d11 {
        width: 97vw;
    }
}

@media screen and (max-width: 1099px) {
    #d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10, #d11 {
        width: 97vw;
        view

    }
}